body {
    background-color: #eaeaea;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}



.logo {
    display: flex;
    justify-content: left;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }

  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #1e425f
  }
  
  .active {
    background-color: #2D9596;
  }


/*nav 

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #1e425f
  }
  
  .active {
    background-color: #2D9596;
  }
*/

/*nav {
    font-size: medium;
    font-weight: 500;
    float: right;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #eaeaea;

}*/





p {
    font-size: 16px;
    line-height: 28px;
    color: #222;
}

.primer-parrafo {
    margin-top: 2em;
}

.resaltado {
    font-weight: 700;
}

section {
    margin: 100px 0;
}

#rrss {
    margin: 100px 0;
    border: #999 1px solid;
    padding: 12px;
    border-radius: 30px;
    display: flex;
}

#rrss img {
    width: 50px;
    height: auto;
    margin: 0 25px;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}





.btn {
    padding: 20px;
    border: #eaeaea 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    background-color: #2D9596;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer p {
    text-align: center;
    font-size: small;
    letter-spacing: 0.1em;
    color: #fff;
}

footer img {
    width: 85px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


/* Estilo para contacto.html*/

form {
    margin: 100px auto;
    color: #222;
}

label {
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
}

fieldset {
    padding: 25px 50px;
    border: 2px solid #2D9596;
    margin-top: 25px;
}

fieldset legend {
    color: #2D9596;
    font-weight: 800;
}

fieldset label {
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    background-color: #fff;
    padding: 15px;
}

input, textarea {
    padding: 15px;
    border: 1px solid #eaeaea;
    margin: 5px 0;
}

.boton-form {
    background-color: #265073;
    font-size: 18px;
    color: #eaeaea;
    padding: 20px 50px;
    margin-top: 50px;
    border: none;
}


table {
    margin: auto;
    width: 50%;
}

table, th, td {
    border: 2px solid #265073;
    border-collapse: collapse;
  }

th {
    background-color: #265073AA;
    color: #eaeaea;
    padding: 10px 25px;
    font-weight: 500;
    text-align: left;
}

thead th{
    color: #265073;
    background-color: #eaeaea;
    font-weight: 700;
    }

   


    

   
    



      