body {
    background-color: #eaeaea;
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #265073;
    padding: 5em;
    margin: 0;
}

header h1 {
    width: 50%;
    float: left;
    display: contents;

}

nav {
    font-size: medium;
    font-weight: 500;
    float: right;
    vertical-align: middle;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #eaeaea;

}

main {
    padding: 5em 15em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



h1 {
    color: #eaeaea;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 900;
}

h2,
h3,
h4,
h5,
h6 {
    color: #265073;
    text-transform: uppercase;
    font-weight: 100;
}

p {
    font-size: 16px;
    line-height: 28px;
    color: #222;
}

.resaltado {
    font-weight: 700;
}

section {
    margin: 100px 0;
}

#rrss {
    margin: 100px 0;
    border: #999 1px solid;
    padding: 12px;
    border-radius: 30px;
    display: flex;
}

#rrss img {
    width: 50px;
    height: auto;
    margin: 0 25px;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}


aside {
    float: left;
    padding: 0 35px;
    display: block;
}


aside img {
    border-radius: 100%;
}


.btn {
    padding: 20px;
    border: #eaeaea 1px solid;
    margin-left: 5px;
    margin-right: 5px;
}

footer {
    background-color: #2D9596;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer p {
    text-align: center;
    font-size: small;
    letter-spacing: 0.1em;
    color: #fff;
}

footer img {
    width: 85px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


/* Estilo para contacto.html*/

form {
    width: 80%;
    margin: 100px auto;
    color: #222;
}

label {
    display: flex;
    flex-direction: column;
    margin: 25px 0 25px 0;
}

fieldset {
    padding: 25px 50px;
    border: 2px solid #2D9596;
    margin-top: 25px;
}

fieldset legend {
    color: #2D9596;
    font-weight: 800;
}

fieldset label {
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    background-color: #fff;
    padding: 15px;
}

input, textarea {
    padding: 15px;
    border: 1px solid #eaeaea;
    margin: 5px 0;
}

.boton-form {
    background-color: #265073;
    font-size: 18px;
    color: #eaeaea;
    padding: 20px 50px;
    margin-top: 50px;
    border: none;
}


table {
    margin: auto;
    width: 50%;
}

table, th, td {
    border: 2px solid #265073;
    border-collapse: collapse;
  }

th {
    background-color: #265073AA;
    color: #eaeaea;
    padding: 10px 25px;
    font-weight: 500;
    text-align: left;
}

thead th{
    color: #265073;
    background-color: #eaeaea;
    font-weight: 700;
    }

    